.card-storie{
    display: flex;
    width: 460px;
    padding: 4px;
    gap: 12px;
    align-items: center;
    justify-content: left;
}
.card-storie small{
    color:  rgb(83, 1, 175);
}
.card-storie .middle{
    width: 300px;
}
.card-storie img{
    border-radius: 18px;
}
@media (max-width: 1300px) {
    .card-storie{
        width: 370px;
        padding: 5px;
        gap: 12px;
    }
    .card-storie .middle{
        width: 250px;
    }
}
@media (max-width: 870px) {
    .card-storie{
        width: 270px;
        padding: 5px;
        gap: 12px;
    }
    .card-storie .middle{
        width: 270px;
    }
    .card-storie img{
        width: 80px;
    }
}