.card-storie{
    display: flex;
    width: 490px;
    margin: 5px;
    padding: 5px;
    gap: 12px;
    align-items: center;
    justify-content: left;
}
.card-storie small{
    color: blueviolet;
}
.card-storie img{
    margin-left: 50px;
}