.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    font-size: 25px;
    padding: 50px;
    max-width: 60%;
    margin: 0 auto;
}
.titulo .p1 {
    color: blueviolet;
}