.barra-nav{
    display: flex;
    gap: 12%;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 22px;
    background-color: rgb(83, 1, 175);
    color: aliceblue;
    position: fixed;
    width: 100%;
}
.link-home{
    display: flex;
    gap: 20px;
}
.link-home a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.link-home a:hover{
    color: rgb(161, 74, 243);
}
.barra-pesquisar input{
    height: 35px;
    width: 250px;
    padding: 3px;
    font-size: 18px;
}

@media (max-width: 890px) {
    .barra-nav{
        gap: 7%;
        padding: 20px;
        font-size: 17px;
        
    }
    .link-home{
        display: flex;
        gap: 15px;
    }
    .barra-pesquisar input{
        height: 25px;
        width: 200px;
        padding: 3px;
        font-size: 15px;
    }
}
@media (max-width: 615px) {
    .barra-nav{
        display: flex;
        flex-wrap: wrap;
        gap: 7%;
        padding: 20px;
        font-size: 17px;
        
    }
    .link-home{
        margin-top: 8px;
    }
    .barra-pesquisar input{
        margin: 10px;
    }
}