.barra-nav{
    display: flex;
    gap: 12%;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 22px;
}
.link-home{
    display: flex;
    gap: 20px;
}
.link-home a{
    text-decoration: none;
    color: black;
}
.link-home a{
    text-decoration: none;
    color: black;
}
.barra-pesquisar input{
    height: 35px;
    width: 250px;
    padding: 3px;
    font-size: 18px;
}