<app-nav></app-nav>

<app-title></app-title>

<div>
    <app-big-card 
    [imagemUrl]="'../assets/img1.jpg'"
    [categoriaNoticia]="'Tech Talk'"
    [tituloNoticia]="'Os Bastidores das Inovações Tecnológicas'"
    [paragrafoNoticia]="'Explore o processo de desenvolvimento por trás de avanços como inteligência artificial, blockchain, Internet das Coisas e outras tecnologias revolucionárias.'"
    ></app-big-card>
    <app-storie-card-conjunto></app-storie-card-conjunto>
</div>
<br>
<br>
<div>
    <app-big-card 
    [imagemUrl]="'../assets/img2.jpg'"
    [categoriaNoticia]="'Explorando o Futuro'"
    [tituloNoticia]="'As Últimas Novidades em Tecnologia'"
    [paragrafoNoticia]="'Explore as novidades mais recentes em tecnologia, incluindo avanços em inteligência artificial, realidade virtual e computação em nuvem.'"
    ></app-big-card>
    <app-big-card 
    [imagemUrl]="'../assets/img3.jpg'"
    [categoriaNoticia]="'Tech Insights'"
    [tituloNoticia]="'As Maiores Descobertas do Mundo Digital'"
    [paragrafoNoticia]="'Acompanhe as histórias por trás dessas descobertas e como elas estão moldando o nosso presente e futuro digital.'"
    ></app-big-card>
    <app-big-card 
    [imagemUrl]="'../assets/img4.jpeg'"
    [categoriaNoticia]="'Tech Wave'"
    [tituloNoticia]="'Surfe nas Últimas Ondas da Tecnologia'"
    [paragrafoNoticia]="'Conheça as tendências mais quentes em inteligência artificial, computação quântica, tecnologias vestíveis e muito mais. '"
    ></app-big-card>
    <app-big-card 
    [imagemUrl]="'../assets/img5.jpeg'"
    [categoriaNoticia]="'Tecnologia'"
    [tituloNoticia]="'Desvendando o Universo Tech'"
    [paragrafoNoticia]="'Desvende o vasto universo tech e explore suas infinitas possibilidades. Descubra os segredos por trás da inteligência artificial, blockchain, realidade virtual, cibersegurança e outras tecnologias de ponta.'"
    ></app-big-card>
</div>

<app-foot></app-foot>

<router-outlet />