<div class="selecao-card-storie">
<h2>Stories times</h2>
<app-storie-cards
[Num] = "1"
[tituloStorie]= "'O Melhor ano do Mundo Digital'"
[autorData] = "'Fernanda - 05/2022'"
[imagemUrl] = "'../../assets/icone1.jpeg'"
></app-storie-cards>
<app-storie-cards
[Num] = "2"
[tituloStorie]= "'Tendências Tecnológicas atuais'"
[autorData] = "'Bruno - 09/2023'"
[imagemUrl] = "'../../assets/icone2.jpeg'"
></app-storie-cards>
<app-storie-cards
[Num] = "3"
[tituloStorie]= "'Tecnologia em Primeiro Plano'"
[autorData] = "'Camilla - 11/2023'"
[imagemUrl] = "'../../assets/icone3.jpeg'"
></app-storie-cards>
<app-storie-cards
[Num] = "4"
[tituloStorie]= "'As Maiores Descobertas digitais'"
[autorData] = "'Thiago - 102/2024'"
[imagemUrl] = "'../../assets/icone4.jpeg'"
></app-storie-cards>
</div>
