.big-card{
    width: 520px;
    display: flex;
    flex-direction: column; 
    text-align: left;
    padding: 30px;
    gap: 9px;
    
}
.small-texto{
    color:  rgb(83, 1, 175);
    font-size: 15px;
}
.img-card{
    width: 440px;
    height: 280px;
    overflow: hidden;
}
