.big-card{
    width: 520px;
    display: flex;
    flex-direction: column; 
    text-align: left;
    padding: 30px;
    gap: 9px;
    
}
.small-texto{
    color:  rgb(83, 1, 175);
    font-size: 15px;
}
.img-card{
    width: 400px;
    height: 280px;
    overflow: hidden;
}

@media (max-width: 1300px) {
    .big-card{
        width: 420px;
        padding: 20px;
        gap: 8px;
        
    }
    .img-card{
        width: 380px;
        height: 280px;
    }
}
@media (max-width: 870px) {
    .big-card{
        width: 320px;
        padding: 20px;
        gap: 8px;
        
    }
    .img-card img{
        width: 300px;
    }
    .img-card{
        width: 300px;
        height: 180px;
    }
    
}
